
.biography{
    max-height: 400px;
    overflow: auto;
}
.biography::-webkit-scrollbar{
    width: 8px;
}

.biography::-webkit-scrollbar-track{
    background-color: #f8f7f7;
    border: 1px solid #0011ffcc;
    border-radius: 15px;
}

.biography::-webkit-scrollbar-thumb{
    background-color: #0011ffcc;
    width: 8px;
    border-radius: 15px;
}