
.contant{
    flex-wrap: wrap;
    
}


.contant h5{
    
    color: black;
    box-shadow: -1px 0px 4px 0px #00000073;
    
}



.row{
    color: #00d30b;
    box-shadow: -1px 0px 4px 0px #00000073;
}

.Swiper{
    height: 300px;
}

.Swiper figure {
    height: 100%;
}

.Swiper figure figcaption{
    background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 0.75rem 1rem;
  width: 100%;
  font-size: 1rem;
  font-weight: 300;
  text-align: center;
  backdrop-filter: blur(4px);
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  transition: background-color 0.3s ease;

}